# Node modules
node_modules/

# Logs
logs/
*.log
 
config/config.env  

# Dependency directories
pids/
logs/
results/
.cache/
dist/
node_modules/
bower_components/
.jekyll-cache/

# WebStorm
.idea/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# dotenv environment variable files
.env
